.famPopup{
    label{
        font: normal normal normal 13px/16px Proxima Nova;
        letter-spacing: 0px;
        color: #2D2D2D;
        opacity: 0.77;
    }
    .saveBtn{
        background: #01246B 0% 0% no-repeat padding-box;
        color: #fff;
    }
    .closeBtn{
        cursor: pointer;
    }
}