
<div class="flex flex-col w-full bg_onboarging">
    <div class="w-full sm:w-auto">
        <div class="employeeOnboarding container max-w-screen-lg mx-auto px-5">
            <div class="fuse-highlight-code-container mx-auto">
                <div class="eo_head">
                    <div class="eoLeft">
                        <img src="../../assets/images/newage.svg" alt="">
                    </div>
                    <div class="eoRight">
                        <span>Employee Onboarding Form</span>
                    </div>
                </div>
            </div>
            <div class="emp_dtl_collection">
                <div class="final_message_body bg-white dark:bg-slate-800">
                    <div class="flex justify-center">
                        <div class="w-full lg:w-3/5">
                            <div class="fm_hd">
                                <svg xmlns="http://www.w3.org/2000/svg" width="56.314" height="56.5" viewBox="0 0 56.314 56.5">
                                    <g id="noun-error-1102749" transform="translate(-70)">
                                      <path id="Path_2690" data-name="Path 2690" d="M98.157,56.5a28.25,28.25,0,1,1,28.157-28.25A28.236,28.236,0,0,1,98.157,56.5Zm0-53.178A24.928,24.928,0,1,0,123,28.25,24.912,24.912,0,0,0,98.157,3.322Z" fill="#cb3838"/>
                                      <path id="Path_2691" data-name="Path 2691" d="M272.47,199.648a1.833,1.833,0,0,1-2.6,2.589l-16.743-16.8a1.833,1.833,0,1,1,2.6-2.589Z" transform="translate(-164.643 -164.292)" fill="#cb3838"/>
                                      <path id="Path_2692" data-name="Path 2692" d="M253.122,199.643a1.833,1.833,0,0,0,2.6,2.589l16.738-16.806a1.83,1.83,0,1,0-2.592-2.585Z" transform="translate(-164.635 -164.286)" fill="#cb3838"/>
                                    </g>
                                  </svg>                                                        
                            </div>
                            <div class="fm_body">
                                <h1>Error</h1>
                                <p class="invalid_url"><b><a href="#">Invalid form URL</a></b></p>
                                <p>This form is not available for this domain.</p>
                                <p><a href="#">www.hrhub.com/form/252525222</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>
