@mixin responsive($breakpoint){
    @if $breakpoint == Forfold{
        @media only screen and (max-width:280px){
            @content
        };
    }
    @if $breakpoint == Exsmall330{
        @media only screen and (max-width:330px){
            @content
        };
    }
    @if $breakpoint == Exsmall355{
        @media only screen and (max-width:355px){
            @content
        };
    }
    @if $breakpoint == Exsmall394{
        @media only screen and (max-width:394px){
            @content
        };
    }
  @if $breakpoint == Exsmall{
      @media only screen and (max-width:474px){
          @content
      };
  }
  @if $breakpoint == phone{
      @media only screen and (max-width:768px){
          @content
      };
  }
  @if $breakpoint == tab-port{
      @media only screen and (max-width:992px){
          @content
      };
  }
  @if $breakpoint == tab-port-min{
    @media only screen and (min-width:992px){
        @content
    };
  }
  @if $breakpoint == tab-port-1024{
      @media only screen and (max-width:1024px){
          @content
      };
  }
  @if $breakpoint == device1200{
      @media only screen and (min-width:1200px){
          @content
      };
  }
  @if $breakpoint == device1200Max{
      @media only screen and (max-width:1200px){
          @content
      };
  }
  @if $breakpoint == tab-land{
      @media only screen and (max-width:1400px){
          @content
      };
  }
  @if $breakpoint == big-desktop{
      @media only screen and (min-width:1800px){
          @content
      };
  }
  }
.detail_hd{
    h1{
        font: normal normal 600 22px/27px Proxima Nova;
        letter-spacing: 0px;
        color: #191919;
        @include responsive(phone){
            font-size: 18px;
        }
    }
    .detail_tag{
        display: inline-flex;
        gap: 10px;
        margin-top: 10px;
        span{
            border-radius: 30px;
            padding: 5px 15px;
            color: #fff;
            @include responsive(phone){
                font-size: 10px;
            }
            &.d_type{
                background: #535353 0% 0% no-repeat padding-box;
            }
            &.d_pol{
                background: #ECB604 0% 0% no-repeat padding-box;
            }
        }
    }
}
.detail_wrap{
    padding: 20px;
}
.detail_dec{    
    .s_name{
        display: inline-flex;
        align-items: center;
        gap:8px;
        color: #52A3AD;
        padding: 15px 0;
        .sn_left{
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #52A3AD;
            height: 30px;
            border-radius: 50%;
        }
    }
    .detail_con{
        p{
            margin-bottom: 15px;
        }
    }
}
.doc_wrap{
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    margin-top: 10px;
    .doc_item{
        padding: 10px;
        &:not(:last-child){
            border-bottom: 1px solid #E2E6EA;
        }
        h3{
            font-size: 19px;
            letter-spacing: 0px;
            color: #202020;
            font-weight: 600;
        }
        .doc_in{
            display: inline-flex;
            align-items: center;
            gap: 15px;
            margin-top: 0;
            flex-wrap: wrap;
            .di_item{
                .add_icon{
                    span{
                        background-color: #30d136;
                        padding: 10px;
                        display: inline-block;
                        border-radius: 50%;
                    }
                }
                .dii_in{
                    padding: 8px 25px;
                    background: #f845454f 0% 0% no-repeat padding-box;
                    border-radius: 4px;
                    .di_icon{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #F84545 0% 0% no-repeat padding-box;
                        img{
                            width: 50%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
                & > span{
                    font-size: 10px;
                }
            }
        }
    }
}
.img_uplod{
    img{
        width: 100px;
        height: 65px;
        object-fit: cover;
        border-radius: 4px;
    }
}
.foo_st{
    .foo_st_nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
        gap: 15px;
        .fsn_left{
            display: flex;
            align-items: center;
            gap: 10px;
            flex: 1;
            flex-wrap: wrap;
            .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper{
                margin-bottom: 0 !important;
            }
            .fsn_item{
                display: inline-flex;
                align-items: center;
                gap:15px;
                span{
                    button{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: 5px 15px;
                        &.reqBtn{
                            background-color: #fff;
                            border: 1px solid #2BC2D4;
                            border-radius: 30px;
                            color: #2BC2D4;
                        }
                    }
                }
            }
        }
        .fsn_right{
            display: inline-flex;
            gap:15px;
            align-items: center;
            .followers{
                display: inline-flex;
                align-items: center;
                gap:6px;
                flex-wrap: wrap;
                .follower{
                    span{
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        border: 1px solid #2BC2D4;
                        color: #2BC2D4;
                        overflow: hidden;
                    }
                    &.add_follower{
                        span{
                            background: #52A3AD 0% 0% no-repeat padding-box;
                        }
                    }
                }
            }
        }
    }
}
.foo_comment{
    margin-top: 15px;
    .replyBtn{
        display: flex;
        justify-content: flex-end;
        button{
            border: none;
            border-radius: 30px;
            padding: 10px 20px;
            background: #2BC2D4 0% 0% no-repeat padding-box;
            color: #fff;
            display: inline-block;
        }
    }
}
.comment_list{
    border-top: 1px solid #D5D5D5;
    padding-top: 20px;
    margin-top: 20px;
    .item_comment{
        background: #FCFCFC 0% 0% no-repeat padding-box;
        border: 1px solid #D5D5D5;
        border-radius: 5px;
        &:not(:first-child){
            margin-top: 15px;
        }
        .comment_hd{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            flex-wrap: wrap;
            .comment_left{
                display: flex;
                gap: 10px;
                align-items: center;
                flex-wrap: wrap;
                span{
                    font: normal normal medium 15px/26px Proxima Nova;
                    letter-spacing: 0px;
                    color: #000000;
                }
            }
            .comment_right{
                span{
                    font: normal normal normal 12px/33px Proxima Nova;
                    letter-spacing: 0px;
                    color: #A1A1A1;
                }
            }   
        }
    }
}
.replied_msg{
    padding: 0 10px;
}
.uploads_wrap{
    padding: 10px;
    .doc_in{
        display: inline-flex;
        align-items: center;
        gap: 15px;
        margin-top: 0;
        flex-wrap: wrap;
        .di_item{
            .add_icon{
                span{
                    background-color: #30d136;
                    padding: 10px;
                    display: inline-block;
                    border-radius: 50%;
                }
            }
            .dii_in{
                padding: 8px 25px;
                background: #f845454f 0% 0% no-repeat padding-box;
                border-radius: 4px;
                .di_icon{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #F84545 0% 0% no-repeat padding-box;
                    img{
                        width: 50%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
            & > span{
                font-size: 10px;
            }
        }
    }
}

.file_upload{
    position: relative;
    label{
        span{
            display: block;
            .resume_icon{
                background-color: #dedede;
                padding: 15px 0;
                border-radius: 4px;
                width: 50px;
                svg{
                    width: 30px;
                    margin: auto;
                }
            }
        }
    }
    input{
        position: absolute;
        visibility: hidden;
        width: 0;
    }
}
.comment_wrap{
    position: relative;
    .comment_icon{
        position: absolute;
        z-index: 999;
        right: 20px;
        top:50%;
        transform: translateY(-50%);
    }
}
.approved{
    display: flex;
    align-items: center;
    gap: 10px;
    & > span{
        &.ap_btn{
            display: flex;
            background: #46A11A 0% 0% no-repeat padding-box;
            border-radius: 26px;
            color: #fff;
            gap: 5px;
            padding: 5px 10px;
            align-items: center;
        }
    }
}
span.ap_btn{
    display: flex;
    background: #46A11A 0% 0% no-repeat padding-box;
    border-radius: 26px;
    color: #fff;
    gap: 5px;
    padding: 5px 10px;
    align-items: center;
    span{
        color: #fff !important;
    }
}