
<div class="flex flex-col w-full bg_onboarging">
    <div class="w-full sm:w-auto">
        <div class="employeeOnboarding container max-w-screen-lg mx-auto px-5">
            <div class="fuse-highlight-code-container mx-auto">
                <div class="eo_head">
                    <div class="eoLeft">
                        <img src="../../assets/images/newage.svg" alt="">
                    </div>
                    <div class="eoRight">
                        <span>Employee Onboarding Form</span>
                    </div>
                </div>
            </div>
            <div class="emp_dtl_collection">
                <mat-tab-group class="employee_onboarding_stepper">
                    <mat-tab label="Basic Information"> 
                        1
                    </mat-tab>
                    <mat-tab label="Qualification"> 
                        2
                    </mat-tab>
                    <mat-tab label="Certificates"> 
                       3
                    </mat-tab>
                    <mat-tab label="Preferences">
    4
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>       
    </div>
</div>
