.bg_onboarging{
    background-image: url("../../assets/images/bg_body.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: #113E98;
}
.eo_head{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    padding: 20px;
    padding-bottom: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-wrap: wrap;
    gap: 10px;
    .eoLeft{
        img{
            width: 200px;
        }
    }
    .eoRight{
        span{
            font: normal normal normal 19px/23px Proxima Nova;
            letter-spacing: 0px;
            color: #113E98;
        }
    }
}
.w-32p{
    width: 32.333333% !important;
}
.stepper_inside{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    .addBtn{
        margin-top: 20px;
    }
   .stepper_block_hd{
    padding-bottom: 20px;
        h2{
            font: normal normal normal 17px/21px Proxima Nova;
            letter-spacing: 0px;
            color: #113E98;
            margin-bottom: 10px;
        }
   }
   .form_fields_wrap{
    .ticket_item{
        label{
            font: normal normal normal 13px/16px Proxima Nova;
            letter-spacing: 0px;
            color: #2D2D2D;
            opacity: 0.77;
            margin-bottom: 6px;
            display: inline-block;
        }
    }
   }
   .mat-form-field-wrapper{
        .mat-form-field-flex{
            background-color: #F3F3F3 !important;
            border: 0.5px solid #CCCCCC;
            border-radius: 4px;
    }
   }

}
.lang_list{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background: #F3F3F3 0% 0% no-repeat padding-box;
    border-radius: 4px;
    flex-wrap: wrap;
    .lang_item{
        display: inline-flex;
        align-items: center;
        gap: 6px;
        background: #F5F6F8 0% 0% no-repeat padding-box;
        border: 1px solid #4A6FB9;
        border-radius: 7px;
        padding: 5px 15px;
        gap: 10px;
        span{
            font: normal normal normal 13px/16px Proxima Nova;
            letter-spacing: 0px;
            color: #274581;
        }
    }
}
.f_wrap{
    background: #F5F6F8 0% 0% no-repeat padding-box;
    border: 1px solid #4A6FB9;
    border-radius: 7px;
    padding: 20px;
    position: relative;
    .close_blk{
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
    }
}
.f_list{
    display: flex;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    .f_item{
        flex-grow: 1;
        span{
            font: normal normal normal 13px/16px Proxima Nova;
            letter-spacing: 0px;
            color: #2D2D2D;
            display: block;
        }
        h3{
            font: normal normal normal 17px/21px Proxima Nova;
            letter-spacing: 0px;
            color: #01246B;
        }
    }
}
.confBtn{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    button{       
        border-radius: 26px;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        &.contBtn{
            background: #01246B 0% 0% no-repeat padding-box;
            color: #fff;
        }
        &.bkBtn{
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #01246B;
        }
    }
}
.ed_profs{
    .f_item{
        span{font: normal normal normal 13px/16px Proxima Nova;
            letter-spacing: 0px;
            color: #2D2D2D;}
        h3{
            font: normal normal normal 17px/21px Proxima Nova;
letter-spacing: 0px;
color: #01246B;
        }
    }
}
.upload_list{    
    margin-top: 20px;
    h2{
        font: normal normal normal 17px/21px Proxima Nova;
        letter-spacing: 0px;
        color: #113E98;
        margin-bottom: 10px;
    }
    .ud_item{        
        margin-bottom: 20px;
        .ud_items_list{
            display: flex;
            align-items: center;
            gap: 8px;
            background: #F5F6F8 0% 0% no-repeat padding-box;
            border: 0.5px solid #c6c6c7;
            border-radius: 7px;
            padding: 15px;  
            flex-wrap: wrap;          
            .udi_item{
                width: 80px;
                height: 80px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .add_item{
                    background: #01246B 0% 0% no-repeat padding-box;
                    border: 1px solid #01246B;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #F3F3F3;
                    width: 80px;
                    height: 80px;
                    opacity: .51;
                    cursor: pointer;
                }
            }
        }
    }
}
.ul_hd{
    margin-bottom: 15px;
}