<div class="w-full max-w-screen-xl mx-auto p-6">
    <div class="flex items-center justify-between w-full">
        <div class="pg_title">
            <div class="text-3xl font-semibold tracking-tight leading-8">New Offer</div>
        </div>
    </div>
    <div class="ticket_controller">
        <div class="tc_offer md:w-1/2">
            <form class="form_fields_wrap">   
                <div class="flex sm:gap-4 flex-wrap">
                    <div class="md:w-1/2 flex-1">
                        <div class="ticket_item">
                            <mat-form-field>
                              <mat-select placeholder="Favorite food" name="foods" [(value)]="selectedFood">
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                  {{food.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="md:w-1/2 flex-1">
                        <div class="ticket_item">
                            <mat-form-field>
                              <mat-select placeholder="Favorite food" name="foods" [(value)]="selectedFood">
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                  {{food.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                        </div>
                    </div>                   
                </div>  
                <div class="flex sm:gap-4 flex-wrap">
                    <div class="md:w-1/2 flex-1">
                        <div class="ticket_item">
                            <mat-form-field class="w-full">
                                <input
                                    id="email"
                                    matInput placeholder="First Name">
                            </mat-form-field>
                          </div>
                    </div>
                    <div class="md:w-1/2 flex-1">
                        <div class="ticket_item">
                            <mat-form-field class="w-full">
                                <input
                                    id="email"
                                    matInput placeholder="Last Name">
                            </mat-form-field>
                          </div>
                    </div>
                </div>
                <div class="flex sm:gap-4 flex-wrap">
                    <div class="md:w-1/2 flex-1">
                        <div class="ticket_item">
                            <mat-form-field class="w-full">
                                <input
                                    id="email"
                                    matInput placeholder="Email">
                            </mat-form-field>
                          </div>
                    </div>
                    <div class="md:w-1/2 flex-1">
                        <div class="ticket_item">
                            <mat-form-field class="w-full">
                                <input
                                    id="email"
                                    matInput placeholder="Phone">
                            </mat-form-field>
                          </div>
                    </div>
                </div>
                <div class="flex flex-wrap">
                   <div class="file_upload">
                        <label for="resume">
                            <span>Resume</span>
                            <span>
                                <div class="resume_icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12.472" height="26.029" viewBox="0 0 12.472 26.029">
                                        <g id="noun-attachment-1663171" transform="translate(-221.201 -11.199)" opacity="0.58">
                                          <path id="Path_2554" data-name="Path 2554" d="M225.81,11.2a4.617,4.617,0,0,0-4.609,4.609V30.991a6.236,6.236,0,0,0,12.472,0V19.333a.814.814,0,1,0-1.627,0V30.991a4.609,4.609,0,1,1-9.218,0V15.808a2.982,2.982,0,0,1,5.965,0V30.991a1.356,1.356,0,0,1-2.711,0V15.808a.814.814,0,1,0-1.627,0V30.991a2.983,2.983,0,1,0,5.965,0V15.808A4.617,4.617,0,0,0,225.81,11.2Z" transform="translate(0)" fill="#707070"/>
                                        </g>
                                      </svg>                                      
                                </div>
                            </span>
                        </label>
                        <input type="file" id="resume">                        
                   </div>
                </div>
                <div class="flex sm:gap-4 flex-wrap">
                    <div class="md:w-1/2 flex-1">
                        <div class="ticket_item">
                            <mat-form-field class="w-full">
                                <input
                                    id="email"
                                    matInput placeholder="Refer By">
                            </mat-form-field>
                          </div>
                    </div>
                    <div class="md:w-1/2 flex-1">
                        <div class="ticket_item">
                            <mat-form-field appearance="fill">
                                <input matInput [matDatepicker]="picker"  placeholder="Date">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>                    
                </div>
                <div class="flex flex-wrap">
                    <div class="w-full">
                        <div class="ticket_item">
                            <mat-form-field class="w-full">
                              <textarea matInput 
                              placeholder="Comment" >
                           </textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="flex flex-wrap">
                    <div class="file_upload">
                         <label for="resume">
                             <span>Upload Documents</span>
                             <span>
                                 <div class="resume_icon">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="12.472" height="26.029" viewBox="0 0 12.472 26.029">
                                         <g id="noun-attachment-1663171" transform="translate(-221.201 -11.199)" opacity="0.58">
                                           <path id="Path_2554" data-name="Path 2554" d="M225.81,11.2a4.617,4.617,0,0,0-4.609,4.609V30.991a6.236,6.236,0,0,0,12.472,0V19.333a.814.814,0,1,0-1.627,0V30.991a4.609,4.609,0,1,1-9.218,0V15.808a2.982,2.982,0,0,1,5.965,0V30.991a1.356,1.356,0,0,1-2.711,0V15.808a.814.814,0,1,0-1.627,0V30.991a2.983,2.983,0,1,0,5.965,0V15.808A4.617,4.617,0,0,0,225.81,11.2Z" transform="translate(0)" fill="#707070"/>
                                         </g>
                                       </svg>                                      
                                 </div>
                             </span>
                         </label>
                         <input type="file" id="resume">                        
                    </div>
                 </div>
                <div class="foo_btns">
                    <button class="cancel_btn">Back</button>
                    <button class="add_btn">Save</button>
                </div>
            </form>     
        </div>        
    </div>   
</div>
