
<div class="flex flex-col w-full bg_onboarging">
    <div class="w-full sm:w-auto">
        <div class="employeeOnboarding container max-w-screen-lg mx-auto px-5">
            <div class="fuse-highlight-code-container mx-auto">
                <div class="eo_head">
                    <div class="eoLeft">
                        <img src="../../assets/images/newage.svg" alt="">
                    </div>
                    <div class="eoRight">
                        <span>Employee Onboarding Form</span>
                    </div>
                </div>
            </div>
            <div class="emp_dtl_collection">
                <div class="final_message_body bg-white dark:bg-slate-800">
                    <div class="flex justify-center">
                        <div class="w-full lg:w-3/5">
                            <div class="fm_hd">
                                <svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" viewBox="0 0 58 58">
                                    <g id="noun-tick-5506922" transform="translate(-86.75 -16.75)">
                                      <path id="Path_2688" data-name="Path 2688" d="M115.75,17.5A28.25,28.25,0,1,0,144,45.75,28.282,28.282,0,0,0,115.75,17.5Zm0,54.617A26.367,26.367,0,1,1,142.117,45.75,26.4,26.4,0,0,1,115.75,72.117Z" transform="translate(0)" fill="#32a225" stroke="#32a225" stroke-width="1.5"/>
                                      <path id="Path_2689" data-name="Path 2689" d="M232.33,177.35l-19.6,19.6-9.013-9.013a.942.942,0,0,0-1.332,1.332l9.678,9.678a.942.942,0,0,0,1.332,0l20.269-20.27a.941.941,0,1,0-1.331-1.331Z" transform="translate(-102.272 -142.401)" fill="#32a225" stroke="#32a225" stroke-width="1.5"/>
                                    </g>
                                </svg>                          
                            </div>
                            <div class="fm_body">
                                <h1>Thank you</h1>
                                <p>Your submission has been sent,</p>
                                <p>HR will contact you for completing the onboarding process</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>
