:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}
.bg_onboarging{
    background-image: url("../../assets/images/emp-bg.svg");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    mix-blend-mode: luminosity;
    background-color: #113E98;
}